$primary: #121838;
$secondary: #99a1cfc5;
$primaryLight: #344188a4;
$primaryLight2: #1c2558;
$lightGray: #9e9e9e;
$shadowGray: #00000094;
$error: #bb0000;
$good: #008b00;
$light: #fff;

$tablePadding: 0.1rem;
$pagePadding: 0.2rem;
$tableMargin: 0.4rem;
$titleHeight: 3rem;
$recordHeight: 3rem;

$toggleHeight: 2.5rem;
$toggleWidth: 5rem;
$togglePadding: 0 0.1rem;
$toggleRadius: 1.25rem;
$toggleIcons: 1.4rem;
$toggleDuration: 550ms;

$modalPadding: 1.5rem;
$modalRadius: 0.15rem;
$modalSectionHeight: 4.5rem;

@mixin tabelify($name, $full-page: false) {
    .#{ $name }__table {
        margin: $tableMargin 0;
        padding: $tablePadding;
        color: $light;
        background-color: $primary;
        border: $tablePadding solid $primary;
        @if ($full-page) {
            max-height: calc(100% - #{$tableMargin});
            overflow: hidden;
        }
        &-title {
            display: flex;
            height: $titleHeight;
            justify-content: center;
            align-items: center;
            margin: 0;
            font-weight: 800;
            position: relative;
            padding-bottom: $tablePadding;
        }
        &-#{$name}s {
            color: $primary;
            background: $light;
            overflow-y: auto;
            @if ($full-page) {
                max-height: calc(
                    100vh -
                        #{$pagePadding} -
                        #{$recordHeight} -
                        #{$tableMargin} -
                        #{$tablePadding} -
                        #{$tablePadding} -
                        #{$titleHeight} -
                        #{$tablePadding} -
                        #{$pagePadding} -
                        #{$tableMargin}
                );
            } @else {
                max-height: calc(#{$recordHeight} * 4.5);
            }
            &__empty,
            :deep(.#{#{ $name }__table-#{$name}s__empty }) {
                height: $recordHeight;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
