$primary: #121838;
$secondary: #99a1cfc5;
$primaryLight: #344188a4;
$primaryLight2: #1c2558;
$lightGray: #9e9e9e;
$shadowGray: #00000094;
$error: #bb0000;
$good: #008b00;
$light: #fff;
$dark: #000;

$tablePadding: 0.1rem;
$pagePadding: 0.2rem;
$tableBorderWidth: 0.2rem;
$tableMargin: 0.4rem;
$titleHeight: 3rem;
$recordHeight: 3rem;

//Full page height - 100vh
//Padding from top - pagePadding
//Height of airport title - titleHeight
//Margin of tables from title - tableMargin
//Border of table - tableBorderWidth
//Padding of table before title - tablePadding
//Height of table title - titleHeight
//Padding of table after title - tablePadding
//Margin of tables from page end - tableMargin
//Padding from bottom - pagePadding
$maximalTableContentsHeight: calc(
    100vh - #{$pagePadding} - #{$titleHeight} - #{$tableMargin} - #{$tableBorderWidth} -
        #{$tablePadding} - #{$titleHeight} - #{$tablePadding} - #{$tableMargin} -
        #{$pagePadding}
);

$toggleHeight: 2.5rem;
$toggleWidth: 5rem;
$togglePadding: 0 0.1rem;
$toggleRadius: 1.25rem;
$toggleIcons: 1.4rem;
$toggleDuration: 550ms;

$buttonBG: linear-gradient(224.46deg, $primaryLight, $primaryLight2);

$modalPadding: 1.5rem;
$modalRadius: 0.15rem;
$modalSectionHeight: 4.5rem;
